body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(left, #4D4D4D 0%, #136363 100%);
 /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(left, #4D4D4D 0%, #136363 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(left, #4D4D4D 0%, #136363 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #4D4D4D), color-stop(1, #136363));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(left, #4D4D4D 0%, #136363 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to right, #4D4D4D 0%, #136363 100%);
  width: 100vw;
  height: 100vh;
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
